*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #f5f6fa;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding:20px;
}
.app__left{
  flex:0.8;
}
.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app__dropdown{
  background-color: #fff;
}
.app__header > h1{
  color:red;
  font-size: 2rem;
  font-weight: bolder !important;
}
.app__stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line__graph__title{
  text-transform: capitalize;
}

.app__graph{
  flex-grow: 1;
  margin-top: 20px;
}
.app__graphTitle{
  text-transform: capitalize;
  margin: 7px 0;
}
@media (max-width:1200px){
  .app{
    flex-direction: column;
  }
  .app__right{
    margin-top: 20px;
  }
  .app__right{
  display: flex;
  flex-direction: column;
  background-color: red;
}
.app__right .MuiCardContent-root{
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}
}
